html {
  font-size: 16px;
}

#vision-board {
  width: 100%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;
  overflow: auto;
}

.block {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: column wrap;
  /* padding: 15px 20px; */
}

h3 {
  font-size: 2.75em;
  font-weight: 900;
}

.block h3 span {
  background: #FFF44F;
  padding: 15px;
  margin: 0;
}

p, li {
  font-size: 3em;
  font-weight: 600;
}

.block p span {
  font-size: 1.94em;
  text-transform: none;
  font-weight: bolder;
}

.block ul li {
  list-style: none;
}

.large-block {
  height: 1025px;
}

img {
  width: 60%;
  align-self: center;
}

.small-block {
  height: 607px;
}

#eye {
  color: #fff;
  order: -1;
}

#eye h2 {
  font-family: 'Permanent Marker', cursive;
  font-size: 3em;
  margin-bottom: 0
}

#eye p {
  font-size: 4em;
  margin-top: 0;
}

#flower, #code, #activity, #dog {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

#flower, #freelance, #travel, #dog {
  background: url('../img/background.png');
}

#freelance {
  background: #dcf3f5;
}

#travel {
  background: #faf1ef;
}

.light-bg {
  background: #fff;
}

.dark-bg {
  background: #3B3B3B;
  height: 1250px;
}

.center-align {
  text-align: center;
}

.right-align {
  text-align: center;
}

.left-align {
  text-align: center;
}
